.accessories-page {
  &__header {
    padding: unquote(
      100 * 100/1920 + "vw " + 290 * 100/1920 + "vw " + 300 * 100/1920+"vw"
    );
    background: linear-gradient(
        to left,
        rgba($bodyColor, 0.79),
        rgba($bodyColor, 0.79)
      ),
      url("#{$imagesDirecetory}/acc.png") no-repeat center;
    background-size: cover, cover;
    margin-bottom: -230 * 100/1920 + vw;
    h1 {
      color: white;
      font-size: 86/15 + rem;
      font-weight: 900;
      line-height: calc(122 / 86);
    }
  }
}

.accessories-container {
  padding: unquote("0 " + 290 * 100/1920 + "vw " + 100 * 100/1920+"vw");
}

.accessory {
  background: #fff;
  padding: unquote(90 * 100/1920 + "vw " + 95 * 100/1920 + "vw");
  margin-bottom: 22/15 + em;
  &__image {
    width: 395 * 100/1920 + vw;
    margin-right: 75 * 100/1920 + vw;
    height: auto;
  }
  &__title {
    font-size: 20/15 + rem;
    font-weight: 900;
    margin-bottom: 24/20 + em;
    .replaced-logo {
      width: 225/20 + em;
    }
  }
  &__headline {
    font-size: 20/15 + rem;
  }
  &__feature {
    font-size: 16/15 + rem;
    line-height: calc(27 / 16);
    padding: 17/16 + em 0;
    border-bottom: 2.5px solid $borderColor;
    &s {
      margin: 40/15 + em auto;
    }
  }
  &__desc {
    display: none;
  }
}

.accessories-modal {
  padding: unquote(50 * 100/1920 + "vw");
  color: $bodyColor;
  overflow-y: auto;
  &__container {
    padding: unquote(44 * 100/1920 + "vw " + "0vw " + 125 * 100/1920 + "vw");
    background: #fff;
    min-height: calc(100vh - #{unquote(100 * 100/1920 + "vw")});
  }
  &__inner-container {
    padding: unquote(0 + "vw " + 300 * 100/1920 + "vw " + 0 + "vw");
  }
  &__header {
    margin-bottom: 100 * 100/1920 + vw;
  }

  &__image {
    width: 560 * 100/1920 + vw;
    margin-right: 140 * 100/1920 + vw;
    height: auto;
  }
  &__title {
    font-size: 39/15 + rem;
    margin-bottom: 78/39 + em;
    .replaced-logo {
      width: 460/39 + em;
      margin-bottom: 12/39 + em;
    }
    .accessory__title__subtitle {
      display: block;
      font-weight: 900;
    }
  }
  &__desc {
    font-size: 17/15 + rem;
    line-height: calc(26 / 17);
    p {
      margin-bottom: 46/17 + em;
    }
  }
  .accessory__feature {
    font-size: 21/15 + rem;
  }
  .media-modal__close {
    color: $bodyColor;
    margin-right: 66 * 100/1920 + vw;
  }
}
