$bodyFont: "Arial", serif;
$primaryColor: #fb0001;
$borderColor: #e7e7e7;
$bgcolor: #f3f3f3;
$bodyColor: #2a2a2a;
$imagesDirecetory: "../images/";

* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
  background: $bgcolor;
  color: $bodyColor;
  font-family: $bodyFont;
  height: 100%;
  line-height: 1.1;
  font-weight: 400;
}

body {
  position: relative;
  overflow-x: hidden;
  height: 100%;
  &.no-scroll {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.1;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.3;
}

strong {
  font-weight: 900;
}

button {
  background: none;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: $bodyFont;
  line-height: 1;
  &:focus {
    outline: inherit;
  }
  &[disabled] {
    cursor: default;
  }
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  letter-spacing: 1px;
}
img {
  flex: none;
}
.flex-container {
  display: flex;
}

.flex-start {
  justify-content: flex-start;
  align-items: flex-start;
}
.flex-end {
  align-items: flex-end;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.stretch-self {
  align-self: stretch;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.centered-text {
  text-align: center;
}

input {
  font-family: $bodyFont;
}

.media-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  color: white;
  padding: unquote(25 * 100/800+ "vh "+300 * 100/1920+"vw");
  display: none;
  background: rgba($bodyColor, 0.95);
  &__close {
    color: white;
    display: table;
    margin-left: auto;
    font-size: 24/15 + rem;
    font-weight: 900;
    margin-bottom: 25 * 100/800 + vh;
  }
}

.image-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  &__control {
    position: absolute;
    width: 3.5em;
    height: 3.5em;
    // background: #000;
    top: 50%;
    z-index: 13;
    transition: opacity 0.3s ease-in-out;
    img {
      width: 100%;
      display: block;
      height: auto;
    }
    &.next {
      right: 0;
      transform: rotate(180deg);
    }
    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
  &__images {
    position: relative;
    width: 77vw;
    margin: 0 auto;
    overflow: hidden;
  }
  &__images-track {
    display: inline-flex;
    align-items: center;
    transition: all 0.6s ease-in-out;
  }
  &__info {
    width: 65vw;
    margin: 2em auto 0;
    justify-content: space-between;
    align-items: center;
  }
  &__captions {
    width: 30vw;
    overflow: hidden;
    &-track {
      // transition: all 0.6s ease-in-out;
    }
    p {
      display: block;
      width: 30vw;
      flex: none;
      font-size: 3.4rem;

      font-weight: 500;
      letter-spacing: 1px;
    }
  }
  &__count {
    align-items: center;
    &__icon {
      margin-right: 1em;
      width: auto;
      height: 1.2em;
    }
    p {
      letter-spacing: 4px;

      font-weight: 300;
      line-height: 1;
      color: $borderColor;
    }
  }
  &__slider-img {
    width: 65vw;
    margin: 0 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    img {
      max-width: 65vw;
      max-height: 72vh;
      width: 100%;
    }
  }
}

@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }
  1% {
    visibility: visible;
    opacity: 0;
    z-index: 1000;
  }
  100% {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
  }
}
@keyframes fadeOut {
  0% {
    z-index: 1000;
    opacity: 1;
    visibility: visible;
  }
  99% {
    z-index: 1000;
    opacity: 0;
    visibility: visible;
  }
  100% {
    visibility: hidden;
    z-index: -1;
    opacity: 0;
  }
}

.stroke-line {
  width: 1px;
  background: #fff;
  transform: scaleY(0);
  transform-origin: top center;
  transition: transform 0.3s ease-in-out;
  height: 11vh;
  &.draw {
    transform: scaleY(1);
  }
}

.centered {
  text-align: center;
}

.full-view-section {
  height: calc(100vh - (((33 + 33 + 17) / 17)) * 15px);
}

.page {
  &-header {
    padding: unquote(143 * 100/1920 +"vw " + 290 * 100/1920 +"vw");
  }
  &-title {
    font-size: 86/15 + rem;
    font-weight: 900;
    margin-bottom: 29/86 + em;
    line-height: calc(122 / 86);
  }
}

.loading {
  text-align: center;
  font-weight: 900;
  margin: 2em auto;
}

.replaced-logo {
  display: inline;
  width: 100/15 + em;
  height: auto;
}
