.contact-page {
  &__form {
    flex-grow: 1;
    padding: unquote(
      190 * 100/1920+"vw "+ 200 * 100/1920+"vw " + 140 * 100/1920+"vw"
    );
    .cta {
      margin-left: auto;
      display: table;
      font-size: 1rem;
    }
  }
  &__location {
    border-bottom: 2px solid #4e4e4e;
    padding: unquote(88 * 100/1920+"vw "+ 80 * 100/1920+"vw");
    font-size: 19/15 + rem;
    line-height: calc(25 / 19);
    &__title {
      font-weight: 900;
      font-size: 37/15 + rem;
      line-height: calc(52 / 37);
      margin-bottom: 0.2em;
    }
    &__subtitle {
      margin-bottom: 29/19 + em;
    }
    &__address {
      width: 280 * 100/1920 + vw;
      margin-right: 25 * 100/1920 + vw;
    }
    &__contact-info {
      font-size: 20/15 + rem;
      line-height: calc(27 / 20);
      font-weight: 900;
      margin-bottom: 0.2em;
      color: white;

      &.link {
        padding-right: 1.5em;
        background-position: right 0.1em center;
        background-repeat: no-repeat;
        background-size: auto 0.8em;
        background-image: url("#{$imagesDirecetory}icons/link.svg");
      }
    }
    &s {
      background: $bodyColor;
      color: white;
      width: 725 * 100/1920 + vw;
      flex: none;
      position: relative;
      overflow: hidden;
      &-container {
        position: absolute;
        width: calc(100% + 20px);
        top: 0;
        left: 0;
        height: 100%;
        overflow-y: scroll;
      }
    }
  }
  .gform {
    &_title {
      font-size: 86/15 + rem;
      font-weight: 900;
      margin-bottom: 29/86 + em;
      line-height: calc(122 / 86);
    }
    &_description {
      font-size: 20/15 + rem;
      line-height: calc(27 / 20);
    }
  }
  .form-inputs {
    margin-top: 50/15 + em;
    margin-bottom: 25/15 + em;
    border: 4px solid $borderColor;
    .gform_fields {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .form-group {
    &:nth-child(even) {
      border-left: 4px solid $borderColor;
    }
    &.full {
      border: none;
      textarea {
        resize: none;
      }
    }
  }
  .form-footer {
    float: left;
  }
}

.form-group {
  width: 50%;
  border-bottom: 4px solid $borderColor;
  padding: unquote(25/15 +"em "+ 39/15 +"em");
  label {
    text-transform: uppercase;
    font-weight: 900;
    display: block;
    line-height: 1.5;
    .gfield_required {
      display: none;
    }
  }
  input {
    font-size: 1rem;
    height: 40/15 + em;
  }
  input,
  textarea {
    border: none;
    background: none;
    width: 100%;
    outline: none;
  }
  &.full {
    width: 100%;
  }
}
