.footer {
  background-image: url("#{$imagesDirecetory}GreyMap.png");
  background-color: #fff;
  background-position: right -8em top 0em;
  background-repeat: no-repeat;
  background-size: auto 120%;
  padding: unquote(100 * 100/800+"vh "+163 * 100/1920+"vw");
  &__logo {
    img {
      width: 10vw;
    }
    p {
      font-weight: 900;
      line-height: 2;
    }
  }
  &__main-content {
    font-size: 17/15 + rem;
    margin: 50/17 + em auto;
  }
  &__address {
    line-height: calc(26 / 17);
    &-container {
      width: 380 * 100/1920 + vw;
      flex: none;
    }
  }
  &__contact-info {
    font-weight: 900;
    margin-top: 40/17 + em;
  }
  &__actions {
    width: 530 * 100/1920 + vw;
    flex: none;
  }
  &__menu {
    display: block;
    .menu-item {
      white-space: nowrap;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 22/17 + em;
      a {
        font-size: 17/15 + rem;
        display: block;
      }
    }
  }
  &__resource {
    margin-bottom: 22/17 + em;
    color: $bodyColor;
    display: table;
    line-height: 1;
    padding-right: 1.5em;
    background-position: right 0.1em center;
    background-repeat: no-repeat;
    background-size: auto 0.8em;
    &.file {
      background-image: url("#{$imagesDirecetory}icons/download.svg");
    }
    &.link {
      background-image: url("#{$imagesDirecetory}icons/link.svg");
    }
  }
  &__shipping {
    width: 380 * 100/1920 + vw;
    margin-left: 200 * 100/1920 + vw;
    &__quote {
      line-height: calc(26 / 17);
      margin-bottom: 40/17 + em;
    }
  }
  &__copyright {
    font-size: 14/15 + rem;
  }
}
.inline-link {
  font-size: 17/15 + rem;
  line-height: calc(24 / 17);
  padding-left: 2em;
  background: url("#{$imagesDirecetory}icons/right.svg") no-repeat left center;
  background-size: auto 1em;
  color: $primaryColor;
  font-weight: 900;
}
