.gallery-page {
  &__filter {
    font-size: 20/15 + rem;
    font-weight: 900;
    margin-right: 56/20 + em;
    padding-bottom: 7/20 + em;
    border-bottom: 4px solid rgba($primaryColor, 0);
    &.active {
      color: $primaryColor;
      border-bottom-color: rgba($primaryColor, 1);
    }
  }
  &__image {
    width: 25%;
    padding-bottom: 25%;
    display: block;
    box-shadow: 2px 0 0 0 $borderColor, 0 2px 0 0 $borderColor,
      2px 2px 0 0 $borderColor, 2px 0 0 0 $borderColor inset,
      0 2px 0 0 $borderColor inset;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    &:hover {
      .gallery-page__image__hover {
        display: flex;
      }
    }
    &__hover {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: white;
      background: rgba($bodyColor, 0.79);
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      display: none;
      position: absolute;
      left: 2px;
      top: 2px;
      right: 2px;
      bottom: 2px;
      img {
        width: 38/15 + em;
        height: auto;
        margin-bottom: 22/15 + em;
      }
      p {
        font-weight: 900;
        font-size: 37/15 + rem;
        line-height: clac(52 / 37);
      }
    }
    &s {
      margin-bottom: 90 * 100/1920 + vw;
      border-collapse: collapse;
      &-expand-btn {
        display: none;
      }
    }
  }
  &__modal {
    &__footer {
      margin: 21/15 + em auto;
    }
    &__caption {
      font-weight: 900;
      font-size: 35/15 + rem;
      line-height: calc(50 / 35);
      flex-grow: 1;
    }
    &__count {
      flex: none;
      font-size: 17/15 + rem;
      line-height: calc(20 / 17);
      margin: 0 41/17 + em;
    }
    &__control {
      width: 60/15 + em;
      height: 60/15 + em;
      background: $primaryColor;
      display: flex;
      align-items: center;
      justify-content: center;
      &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
      }
      img {
        width: 21/15 + em;
        height: auto;
      }
      &.next {
        margin-left: 7/15 + em;
        img {
          transform: rotate(180deg);
        }
      }
    }
    &__image {
      width: calc(
        100vw - 2 * #{unquote(300 * 100/1920+"vw")}
      ); //modal side padding
      max-height: 100%;
      img {
        display: block;
        margin: 0 auto;
        max-width: calc(
          100vw - 2 * #{unquote(300 * 100/1920+"vw")}
        ); //modal side padding;
        max-height: 80vh;
        width: auto;
        height: auto;
        flex: none;
      }
      &s {
        position: relative;
        height: 80vh;
        overflow: hidden;
        &-track {
          display: flex;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          transition: transform 0.4s ease-in-out;
        }
      }
    }
  }
  &__filters-expand-btn {
    display: none;
  }
}
