.site-header {
  justify-content: space-between;
  width: 100%;
  z-index: 20;
  background: rgba(#fff, 1);
  &__actions {
  }
  .cta {
    font-size: 17/15 + rem;
    padding: unquote(38/17+"em "+ 45/17+"em");
  }
}

.logo {
  margin-left: 55/15 + em;
  img {
    width: 217 * 100/1920 + vw;
    height: auto;
  }
}

.cta {
  position: relative;
  background: $primaryColor;
  color: white;
  font-size: 1rem;
  padding: unquote(19.5/15+"em "+ 39.5/15+"em");
  font-weight: 900;
  line-height: 1;
  display: table;
  backface-visibility: hidden;
  text-align: center;
  span {
    position: relative;
    line-height: calc(25 / 15);
    z-index: 2;
  }
  &::after {
    content: "";
    backface-visibility: hidden;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $bodyColor;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.3s;
  }
  &.full-width {
    width: 100%;
    font-size: 26/15 + rem;
    line-height: calc(37 / 26);
  }
  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }
}

.menu {
  display: flex;
  &-item {
    margin: unquote("0 "+ 30/17+"em");
    // padding: 0.5em 0;
    a {
      color: $bodyColor;

      font-size: 17/15 + rem;
    }
  }
}

.open-mobile-menu,
.close-mobile-menu {
  display: none;
}
