.home-hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: unquote("10vh "+160 * 100/1920+"vw");
  align-items: flex-start;
  &__title {
    font-size: 138/15 + rem;
    font-weight: 900;
    color: white;
    margin-bottom: 45/138 + em;
    text-shadow: 0px 3px 15px rgba(0, 0, 0, 0.69);
  }
  &__subtitle {
    color: $primaryColor;
    font-size: 25/15 + rem;
    margin-bottom: 1.5em;
  }
  &__video-btn {
    color: white;
    text-shadow: 0px 3px 15px rgba(0, 0, 0, 0.69);
    font-weight: 900;
    font-size: 26/15 + rem;
    padding: 1em 2.5em;
    background: URL("#{$imagesDirecetory}icons/play.svg") no-repeat center left;
    background-size: 50/26 + em auto;
    line-height: 1;
  }
}

.home-link {
  display: block;
  width: calc(100% / 3);
  background-color: $primaryColor;
  color: white;
  font-size: 37/15 + rem;
  font-weight: 900;
  line-height: calc(52 / 37);
  padding: unquote(113/37+"em "+ 160 * 100/1920+"vw");
  padding-right: 0;
  border-right: 2px solid #ff4d4e;
  background-size: auto 80%;
  background-position: right 10% bottom;
  background-repeat: no-repeat;
  &:last-child {
    border-right: none;
  }
  &.systems {
    background-image: url("#{$imagesDirecetory}icons/systems.svg");
  }
  &.acc {
    background-image: url("#{$imagesDirecetory}icons/acc.svg");
  }
  &.gallery {
    background-image: url("#{$imagesDirecetory}icons/gallery.svg");
  }
}

.customers {
  padding: unquote(106 * 100/1920+"vw " +160 * 100/1920+"vw");
  position: relative;
  &__title {
    font-size: 138/15 + rem;
    font-weight: 900;
    line-height: calc(159 / 138);
    color: $borderColor;
    pointer-events: none;
    touch-action: none;
    user-select: none;
  }
  &__slider {
    // position: relative;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    height: 100%;
    display: flex;
    align-items: center;
    cursor: grab;
    &__slide {
      width: calc(100vw * 0.8 / 6);
      height: 85/15 + em;
      display: inline-flex !important;
      align-items: center;
      justify-content: center;
      flex: none;
      pointer-events: none;
      touch-action: none;
      user-select: none;
      img {
        max-width: 80%;
        max-height: 85/15 + em;
        display: block;
      }
      &-container {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        animation-play-state: paused;
        animation-timing-function: linear;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        touch-action: none;
        user-select: none;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        align-items: center;
        &.play {
          animation-play-state: running;
        }
        &.marquee {
          animation-name: marquee;
        }
        &.marquee-back {
          animation-name: marqueeBack;
        }
      }
    }
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  5% {
    transform: translateX(0);
  }
  95% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marqueeBack {
  0% {
    transform: translateX(-100%);
  }
  5% {
    transform: translateX(-100%);
  }
  95% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}

.media-modal__video {
  width: 100%;
  height: calc(100% - #{unquote(100 * 100 / 800 + "vh")});
}
