.news-article {
  width: calc(100% / 3 - 2%);
  margin: 1%;
  margin-bottom: 68/15 + em;
  display: block;
  color: $bodyColor;
  &__img {
    width: 100%;
    padding-bottom: 282 * 100/434 + %;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__title {
    font-size: 20/15 + rem;
    line-height: calc(28 / 20);
    font-weight: 900;
    margin-top: 22/20 + em;
    margin-bottom: 9/20 + em;
  }
  &__date {
    font-size: 16/15 + rem;
  }
  &s {
    padding: unquote("0vw "+ 290 * 100/1920+"vw "+144 * 100/1920+"vw");
    &__pagination {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1%;
    }
  }
}

.news-archive {
  padding-left: 350 * 100/1920 + vw;
  .news-article__date {
    font-size: 18/15 + rem;
  }
}

.nav-link {
  display: flex;
  align-items: center;
  font-size: 19/15 + rem;
  color: $bodyColor;
  font-weight: 900;
  transition: opacity 0.2s ease-in-out;
  backface-visibility: hidden;
  &:hover {
    opacity: 0.5;
  }
  &.prev {
    span {
      margin-right: 28/19 + em;
    }
  }
  &.next {
    justify-content: flex-end;
    margin-left: auto;
    span {
      margin-left: 28/19 + em;
      transform: rotate(180deg);
    }
  }
  span {
    display: block;
    width: 60/19 + em;
    height: 60/19 + em;
    background-color: $primaryColor;
    background-image: url("#{$imagesDirecetory}/icons/left.svg");
    background-position: center;
    background-size: 20/19 + em auto;
    background-repeat: no-repeat;
  }
}

.news-page {
  &__img {
    display: block;
    margin: 0 auto;
    max-width: 1339 * 100/1920 + %;
  }
  &__content {
    padding: unquote(100 * 100/1920+"vw "+350 * 100/1920+"Vw");
    margin-bottom: 50 * 100/1920 + vw;
    font-size: 17/15 + rem;
    line-height: calc(26 / 17);
    p {
      margin-bottom: 46/17 + em;
    }
  }
  &__related-posts {
    padding: unquote("0vw "+290 * 100/1920+"vw "+ 160 * 100/1920+"vw ");
    .section-title {
      margin-left: 60 * 100/1920 + vw;
    }
    .news-article {
      margin-bottom: 0;
    }
  }
}
