@media (max-width: 1500px) {
  html {
    font-size: 13px;
  }
  .page {
    &-header {
      padding: unquote(150 * 100/1920 +"vw " + 230 * 100/1920 +"vw");
    }
  }
  .system-page {
    &__title {
      font-size: 75/15 + rem;
    }
    &__info,
    &__resources {
      padding: unquote(150 * 100/1920+"vw "+230 * 100 / 1920+"vw");
    }
  }
  .contact-page {
    &__location {
      &__address {
        width: 300 * 100/1920 + vw;
      }
    }
  }
  .footer__shipping {
    width: auto;
  }
}
@media (max-width: 1300px) {
  html {
    font-size: 12px;
  }
  .page {
    &-header {
      padding: unquote(150 * 100/1920 +"vw " + 150 * 100/1920 +"vw");
    }
    &-title {
      font-size: 75/15 + rem;
    }
  }
  .system-page {
    &__title {
      font-size: 75/15 + rem;
    }
    &__info,
    &__resources {
      padding: unquote(150 * 100/1920+"vw "+150 * 100 / 1920+"vw");
    }
    &__feature {
      width: 40vw;
    }
    &__models {
      &__table {
        th,
        td {
          &:not(.gap) {
            padding: unquote(30/15+"rem "+ 20/15+"rem");
          }
        }
      }
      .two-col {
        .flex-container {
          span {
            &:first-child {
              margin-right: 20/15 + rem;
            }
          }
        }
      }
    }
  }
  .replaced-logo {
    // margin: 0 0.5em;
  }
  .news-article {
    &s {
      padding: unquote("0vw "+ 100 * 100/1920+"vw "+100 * 100/1920+"vw");
    }
  }
  .news-page {
    &__content {
      padding: unquote(100 * 100/1920+"vw "+200 * 100/1920+"Vw");
    }
    &__related-posts {
      padding: unquote("0vw "+150 * 100/1920+"vw "+ 160 * 100/1920+"vw ");
      .section-title {
        margin-left: 50 * 100/1920 + vw;
      }
    }
  }
  .gallery-page__modal__caption {
    font-size: 25/15 + rem;
  }
  .accessories-page {
    &__header {
      padding: unquote(
        150 * 100/1920 + "vw " + 150 * 100/1920 + "vw " + 300 * 100/1920+"vw"
      );
    }
  }
  .accessories-container {
    padding: unquote("0 " + 150 * 100/1920 + "vw " + 100 * 100/1920+"vw");
  }
  .quote-page {
    padding: unquote(150 * 100/1920+"vw " + 150 * 100/1920 +"vw");
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 11px;
  }
  .system-page {
    &__title {
      br:not(:first-of-type) {
        display: none;
      }
    }
    &__models {
      margin-top: 100/15 + em;
      &__header {
        display: block;
      }
      &__image {
        width: 100%;
        margin: 4em auto 0;
        max-width: 700px;
        display: block;
        height: auto;
      }
    }
  }
  .accessories-page__header h1 {
    font-size: 68/15 + rem;
  }
  .footer {
    &__main-content {
      justify-content: space-between;
    }
    &__address-container {
      width: auto;
      padding-right: 30/15 + em;
    }
    &__actions {
      padding-right: 30/15 + em;
      width: auto;
      .footer__menu {
        margin-right: 40/15 + em;
      }
    }
    &__shipping {
      margin-left: 0;
    }
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .model-card {
    &__info {
      padding: 3.6vw 4vw 3vw;
    }
    &__images {
      width: 60%;
    }
  }
  .image-in-image__thumb {
    width: 150px !important;
    height: 150px !important;
    margin-bottom: -75px !important;
    svg {
      width: 150px !important;
      height: 150px !important;
    }
  }
  .desc-block {
    .bordered-block {
      width: 100%;
    }
  }
  .amenities-section .pushed-block {
    width: 90%;
  }
  .project-maps__maps-button {
    max-width: 30vw;
  }
  .contact-dates {
    width: 30vw;
    height: auto;
    margin-bottom: -12vw;
    svg {
      width: 30vw;
      height: 20vw;
    }
  }
  .contact-hero .bordered-block {
    margin-top: 2em;
  }
}
@media (max-width: 768px) {
  .logo img {
    width: 12em;
  }
  .open-mobile-menu {
    display: block;
    width: 6em;
    height: 6em;
    flex: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $primaryColor;
    span {
      display: block;
      width: 2.5em;
      margin: 0.35em auto;
      height: 2px;
      background: white;
    }
    .white & {
      border-color: white;
      span {
        background: #fff;
      }
    }
  }
  .close-mobile-menu {
    position: absolute;
    right: 5vw;
    top: 5vh;
    width: 2em;
    height: 2em;
    display: block;
    img {
      width: 2em;
      margin: auto;
    }
  }
  .site-header {
    .menu {
      display: flex;
      flex-direction: column;
      margin-bottom: 2vh;
      &-item {
        margin-bottom: 2vh;
        margin-left: 0;
        a {
          color: white;
          font-size: 40/13 + em;
          font-weight: 300;
        }
      }
    }
    &__actions {
      display: block;
      position: fixed;
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0vw,
        rgba(0, 0, 0, 0) 10vw,
        $primaryColor 10vw,
        $primaryColor 100vw
      );
      width: 100vw;
      height: 100vh;
      top: 0;
      right: 0;
      padding: 25vh 40vw 10vh 20vw;
      justify-content: space-around;
      transform: translatex(110%);
      transition: transform 0.4s ease-in-out;
      z-index: 4;
      .cta {
        font-size: 2rem;
        text-align: left;
        padding: 0;
        background: none;
        &::after {
          display: none;
        }
      }
      &.out {
        background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.7) 0vw,
          rgba(0, 0, 0, 0.7) 10vw,
          $primaryColor 10vw,
          $primaryColor 100vw
        );
        transform: translatex(0);
      }
    }
  }
  .full-view-section {
    height: calc(100vh - 6em);
  }
  .page-title {
    font-size: 4rem;
  }
  .section-title {
    font-size: 3rem;
  }
  .accessory {
    // display: block;
    &__image {
      margin-right: 0;
      width: 250/13 + em;
      max-width: 100%;
      display: block;
      margin: 0 2em 0 0;
    }
  }
  .accessories-modal {
    &__title {
      font-size: 2.3rem;
      margin-bottom: 1em;
    }
    &__inner-container {
      padding: unquote(0 + "vw " + 100 * 100/1920 + "vw " + 0 + "vw");
    }
  }
  .news-page {
    &__img {
      min-width: 90vw;
    }
  }
  .gallery-page {
    &__image {
      width: calc((100% / 3));
      padding-bottom: calc((100% / 3));
    }
  }
  .gallery-page__modal {
    padding: unquote(25 * 100/800+ "vh "+5+"vw");

    &__image {
      width: calc(90vw);
      img {
        max-width: calc(95vw - 2 * 15.625vw);
      }
    }
  }
  .contact-page {
    display: block;
    &__location {
      width: 50%;
      padding: 3vw;
      &__address {
        width: 50%;
        flex-grow: 1;
      }
      &s {
        width: 100%;
        &-container {
          position: relative;
          display: flex;
          flex-wrap: wrap;
          width: 100%;
        }
      }
    }
  }
  .quote-form {
    &-section {
      .form-group {
        &.half {
          width: calc(200% / 3);
        }
      }
    }
    .form-group {
      width: calc(100% / 3);
      &.file-upload {
        width: calc(100% / 3);
        text-align: center;
      }
    }
  }
  .systems-page {
    display: block;
    height: auto;
  }
  .system {
    width: 100vw;
    height: 50vw;
  }
  .news-article {
    width: 48%;
  }
  .media-modal__video {
    height: calc((100% - 12.5vh) * 9 / 16);
    top: 40vh;
    position: relative;
    transform: translateY(-50%);
  }
  .home-hero__title {
    font-size: 7rem;
  }
  .home-link {
    width: 100%;
    border-right: none;
    border-bottom: 2px solid #ff4d4e;

    &s {
      display: block;
    }
  }
  .customers {
    &__title {
      font-size: 100/15 + rem;
    }
    &__slider {
      width: 90%;
      &__slide {
        width: calc(100vw * 0.9 / 4);
      }
    }
  }
  .footer {
    background-size: 100% auto;
    background-position: left bottom;
    &__logo {
      img {
        width: 10em;
      }
    }
    &__main-content {
      display: block;
    }
    &__actions {
      margin: 3em auto;
    }
  }
}

@media (max-width: 600px) {
  html {
    font-size: 10.5px;
  }
  .site-header .menu-item a {
    font-size: 2rem;
  }
  .media-modal {
    padding: unquote(25 * 100/800+ "vh "+100 * 100/1920+"vw");
  }
  .home-hero__title {
    font-size: 6rem;
  }
  .customers {
    &__slider {
      &__slide {
        width: calc(100vw * 0.9 / 3);
      }
    }
    &__title {
      font-size: 5.5rem;
    }
  }
  .system {
    width: 100vw;
    height: 100vw;
    &__logo {
      width: 25em;
    }
    &-page {
      &__title {
        font-size: 4rem;
      }
      &__overview-section {
        display: block;
      }
      &__gallery {
        width: 100%;
        padding-bottom: calc(628 * 100% / 960);
      }
      &__feature {
        width: 100%;
        &-list {
          display: block;
        }
      }
      &__models {
        &__table {
          width: 100%;
          tr {
            border-bottom: 5/16 + em solid $borderColor;
            display: block;
            td,
            th {
              &:not(.gap) {
                padding: unquote(7/15+"rem "+ 15/15+"rem");
              }
              display: block;
              border-bottom: none !important;
            }
          }
          .cell-half {
            display: inline-block;
            width: 20%;
            padding: unquote(7/15+"rem "+ 15/15+"rem");
            box-sizing: content-box;
          }
          .two-col {
            display: flex;
            align-self: center;
            .flex-container {
              margin-top: 0;
              margin-left: 1em;
              align-items: center;
            }
          }
          &:last-child {
            margin-top: 2em;
          }
          .gap {
            display: none;
          }
          &s-container {
            display: block;
          }
          &.second-table {
            .cell-half {
              &:nth-child(odd) {
                width: 60%;
              }
            }
          }
        }
      }
      &__resource {
        width: 100%;
        &:nth-child(4),
        &:nth-child(5) {
          margin-bottom: 3em;
        }
      }
    }
  }
  .accessories-page__header h1 {
    font-size: 3.5rem;
    br {
      display: none;
    }
  }
  .accessory {
    display: block;
    &__image {
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 2em;
    }
    .cta {
      width: 100%;
    }
  }
  .accessories-modal {
    &__image {
      width: 100%;
      margin-right: 0;
      margin-bottom: 2em;
    }
    &__header {
      display: block;
    }
    .cta {
      width: 100%;
    }
  }
  .news-article {
    width: 98%;
  }
  .news-page__related-posts {
    .flex-container {
      flex-wrap: wrap;
    }
    .news-article {
      width: 48%;
      margin-bottom: 3em;
    }
  }
  .page-title {
  }
  .gallery-page__modal__image {
    width: calc(100vw - #{200 * 100 / 1920+vw});
    img {
      max-width: calc(95vw - #{200 * 100 / 1920+vw});
    }
  }
  .gallery-page {
    &__filter {
      display: table;
      text-align: center;
      padding: 1em;
      margin: 0 auto;
      &:last-child {
        margin-bottom: 1em;
      }
      &-container {
        display: block;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
      }
      &s {
        box-shadow: 1px 0 0 0 $primaryColor, 0 1px 0 0 $primaryColor,
          1px 1px 0 0 $primaryColor, 1px 0 0 0 $primaryColor inset,
          0 1px 0 0 $primaryColor inset;
        &-expand-btn {
          display: block;
          width: 100%;
          text-align: center;
          padding: 1.5em 0;
          color: $primaryColor;
          font-weight: 900;
          margin-top: 3em;
          box-shadow: 0px 0 0 0 $primaryColor, 0 1px 0 0 $primaryColor,
            0px 0px 0 0 $primaryColor, 0px 0 0 0 $primaryColor inset,
            0 0px 0 0 $primaryColor inset;
        }
      }
    }
    &__image {
      width: 50%;
      padding-bottom: 50%;
    }
  }
  .form-group {
    width: 100%;
    border-left: none !important;
  }
  .contact-page .form-footer {
    float: none;
  }
  .contact-page {
    &__location {
      width: 100%;
      padding: 5vw;
    }
    &__form .cta {
      margin-left: 0;
      margin-top: 1em;
    }
  }
  .quote-form {
    .gfieldset-legend {
      width: 100%;
      display: block;
      box-shadow: 4px 0 0 0 $borderColor, 0 4px 0 0 $borderColor,
        4px 4px 0 0 $borderColor, 4px 0 0 0 $borderColor inset,
        0 4px 0 0 $borderColor inset;
    }
    .form-group {
      width: 100% !important;
      &.file-upload {
        background-position: left 25% center;
      }
    }
  }
  .footer {
    &__resource {
      font-size: 1rem;
    }
    &__actions {
      padding-right: 0;
      .footer__menu {
        margin-right: 1em;
        .menu-item a {
          font-size: 1rem;
        }
      }
    }
  }
}
@media (max-width: 320px) {
  html {
    font-size: 10px;
  }
  .home-hero__title {
    font-size: 5rem;
  }
  .open-mobile-menu {
    width: 4em;
    height: 4em;
  }
  .customers {
    &__slider {
      &__slide {
        width: calc(100vw * 0.9 / 2);
      }
    }
    &__title {
      font-size: 4.5rem;
    }
  }
  .system-page__title {
    font-size: 3rem;
  }
  .system-page__resource {
    width: 100%;
    &:nth-child(5) {
      margin-bottom: 3em;
    }
  }
  .accessories-modal__title .replaced-logo {
    width: 10em;
  }
  .page-title {
    font-size: 3rem;
  }
  .contact-page__location {
    padding: 3vw;
  }
}
