.quote-page {
  padding: unquote(160 * 100/1920+"vw " + 290 * 100/1920 +"vw");
  &__subtitle {
    font-size: 26/15 + rem;
    font-weight: 900;
    color: $primaryColor;
    letter-spacing: 4px;
    line-height: 1;
  }
  &__headline {
    font-size: 20/15 + rem;
    margin: unquote(40/20 + "em auto " + 80/20+"em");
  }
}

.quote-form {
  .gform_fields {
    display: flex;
    flex-wrap: wrap;
  }
  .gfieldset {
    margin-bottom: 55/15 + em;
    &-legend {
      font-size: 37/15 + rem;
      background: $borderColor;
      padding: unquote(20/37+"em "+ 65/37+"em");
      font-weight: 900;
      line-height: calc(52 / 37);
    }
  }
  .form-group {
    width: 25%;
    border: none;
    box-shadow: 4px 0 0 0 $borderColor, 0 4px 0 0 $borderColor,
      4px 4px 0 0 $borderColor, 4px 0 0 0 $borderColor inset,
      0 4px 0 0 $borderColor inset;
    &.half {
      width: 50%;
    }
    &.full,
    &.logo-container {
      width: 100%;
    }
    &.third {
      width: calc(100% / 3);
    }
    &.paragraph {
      flex-grow: 1;
    }
    &.file-upload {
      background-color: $borderColor;
      background-image: url("#{$imagesDirecetory}/icons/file.svg");
      background-repeat: no-repeat;
      background-size: 25/15 + em auto;
      background-position: left 40 * 100/1920 + vw center;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      input {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
      }
      .validation_message {
        position: absolute;
        bottom: 0.3em;
        left: 2.6em;
      }
    }
    &.logo-container {
      padding-top: 20/15 + rem;
      padding-bottom: 20/15 + rem;
    }
    &.has-dropdown {
      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: none;
        border-radius: 0;
        background: none;
        background-image: url("#{$imagesDirecetory}icons/dropdown.svg");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 0.8em auto;
        width: 100%;
        border: none;
        cursor: pointer;
        min-height: 40/15 + em;
        font-size: 1rem;
        outline: none;
        &::-ms-expand {
          display: none; /* hide the default arrow in ie10 and ie11 */
        }
      }
    }
  }
  .gfield_required {
    display: none;
  }
  textarea {
    resize: none;
    font-size: 1rem;
  }
}

.validation_error {
  color: $primaryColor;
  margin: 1em 0;
}

.gfield_description.validation_message {
  color: $primaryColor;
}
