.system {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  &:hover {
    &::after {
      display: block;
    }
  }
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba($bodyColor, 0.84);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
  }
  &__logo {
    width: 571/15 + em;
    margin-bottom: 55/15 + em;
    z-index: 2;
  }
  .cta {
    z-index: 2;
  }
}

.system-page {
  &__title {
    font-size: 81/15 + rem;
    font-weight: 900;
    color: white;
    line-height: calc(114 / 81);
  }
  &__header {
    background-position: center, center;
    background: no-repeat, no-repeat;
    background-size: cover, cover;
  }
  &__gallery {
    width: 50%;
    padding-bottom: calc(628 * 50% / 960);
    position: relative;
    flex: none;
    &__image {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      &.active {
        opacity: 1;
      }
    }
    &__control {
      &.next {
        margin-left: 0.1em;
      }
      &s {
        display: flex;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
  &__overview {
    background: #fff;
    flex-grow: 1;
    padding: unquote(126 * 100/1920+"vw "+144 * 100/1920 + "vw");
    &__title {
      font-size: 19/15 + rem;
      font-weight: 900;
      margin-bottom: 60/19 + em;
      .replaced-logo {
        width: 210/19 + em;
      }
    }
    &__content {
      font-size: 17/15 + rem;
      line-height: calc(26 / 17);
      p:not(:last-child) {
        margin-bottom: 25/17 + em;
      }
    }
  }
  &__info {
    padding: unquote(135 * 100/1920+"vw "+290 * 100 / 1920+"vw");
  }
  &__feature {
    width: 650 * 100/1920 + vw;
    flex: none;
    font-size: 16/15 + rem;
    padding: 17/16 + em 0;
    border-bottom: 2.5px solid $borderColor;
    line-height: calc(18 / 16);
    &-list {
      flex-wrap: wrap;
    }
  }
  &__models {
    margin-top: 183/15 + em;
    &__header {
      align-items: flex-start;
    }
    &__image {
      width: 722 * 100/1920 + vw;
      height: auto;
      margin-left: 50/15 + em;
    }
    &__table {
      margin-top: 100/15 + em;
      width: 100%;
      font-size: 16/15 + rem;
      text-align: left;
      &:first-child {
        min-width: 760 * 100/1334 + %;
      }
      th,
      td {
        &:not(.gap) {
          padding: unquote(35/15+"rem "+ 60/15+"rem");
        }
      }
      th:not(.gap) {
        background: $borderColor;
        font-size: 17/15 + rem;
        font-weight: 900;
        white-space: nowrap;
        line-height: calc(24 / 17);
      }
      td:not(.gap) {
        border-bottom: 5/16 + em solid $borderColor;
      }
      .gap {
        padding: 0 15/16 + em;
      }
      .two-col {
        .flex-container {
          margin-top: 14/17 + em;
          span {
            font-weight: 400;
            flex-grow: 1;
            font-size: 12/15 + rem;
            &:first-child {
              margin-right: 60/15 + rem;
            }
          }
        }
      }
      .no-padding {
        padding-left: 0 !important;
      }
    }
  }
  &__resource {
    color: white;
    width: 30%;
    font-size: 25/15 + rem;
    line-height: calc(33 / 25);
    margin-bottom: 75/25 + em;
    &:nth-child(n + 4) {
      margin-bottom: 0;
    }
    img {
      width: 38/25 + em;
      margin-right: 35/25 + em;
    }
    &-container {
      margin: 74/15 + em auto;
    }
    &s {
      background: $bodyColor;
      padding: unquote(
        120 * 100/1920+"vw "+290 * 100 / 1920+"vw "+100 * 100/1920+"vw "
      );
      .section-title {
        color: #4e4e4e;
      }
    }
  }
}

.section-title {
  font-size: 73/15 + rem;
  font-weight: 900;
  line-height: calc(103 / 73);
  margin-bottom: 46/73 + em;
}
