@charset 'utf-8';
$fontsDirectory: "../fonts/";
@font-face {
  font-family: "Arial";
  src: url("#{$fontsDirectory}ArialMT.woff2") format("woff2"),
    url("#{$fontsDirectory}ArialMT.woff") format("woff"),
    url("#{$fontsDirectory}ArialMT.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url("#{$fontsDirectory}Arial-Black.woff2") format("woff2"),
    url("#{$fontsDirectory}Arial-Black.woff") format("woff"),
    url("#{$fontsDirectory}Arial-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@import "partials/reset";
@import "partials/base";
@import "partials/header";
@import "partials/home";
@import "partials/contact";
@import "partials/gallery";
@import "partials/accessories";
@import "partials/quote";
@import "partials/systems";
@import "partials/news";
@import "partials/footer";
@import "partials/queries";
